@page "/"

<PageTitle>CertAzure a W.I.P.</PageTitle>

<h2>ToDo</h2>

CertAzure is a W.I.P. aiming to simplify the overwhelming amount of learning data relating to Azure certification.
<br />
<br />
Its likely to take the form of a simple list of links with a done Y/N control and a rating indicator for each linked media item,
the long term goal being for users to reach a consensus of opinion about learning resources and add their own links 
to MSLearn articles, youtube, website, training and examination organisations.
<br />
<br />
Its being built using Blazor with CI/CD via GIT and hosted as a static web-page on Azure. <br /> <br />
It will also be used to explore Azure functionality wherever possible e.g. user management, data storage,
azure functions and more.